WeatherAlertFlow.json
{"flowContents":{"identifier":"3ce095c8-1a2c-3e5e-be98-6f554f0923c7","instanceIdentifier":"59fb23cf-0197-1000-7f6e-77fae453e0cf","name":"WeatherAlertFlow","comments":"","position":{"x":-640.0,"y":-520.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8d65d262-432e-34fd-a1b5-7a18dc87d9fe","instanceIdentifier":"62fdf847-0197-1000-0264-ca71d0c603f3","name":"EvaluateJsonPath","comments":"","position":{"x":496.0,"y":-144.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","currentTemp":"$.main.temp","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"currentTemp":{"name":"currentTemp","displayName":"currentTemp","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ce095c8-1a2c-3e5e-be98-6f554f0923c7"},{"identifier":"1c630310-2297-340e-81dd-959441aed7db","instanceIdentifier":"63889d58-0197-1000-a9d5-1fb0550aa12b","name":"RouteOnAttribute","comments":"","position":{"x":1408.0,"y":80.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Routing Strategy":"Route to Property name","alerted":"${alert:equals('true')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"alerted":{"name":"alerted","displayName":"alerted","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ce095c8-1a2c-3e5e-be98-6f554f0923c7"},{"identifier":"ce3dc987-948e-3df3-873e-0beaf8fb3fae","instanceIdentifier":"62ec2bc4-0197-1000-090d-d03a62cbfae6","name":"InvokeHTTP","comments":"","position":{"x":496.0,"y":-424.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://api.openweathermap.org/data/2.5/weather?lat=#{lat}&lon=#{lon}&units=metric&appid=1356b35f039650dc64615564c912b134","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ce095c8-1a2c-3e5e-be98-6f554f0923c7"},{"identifier":"7cd6e222-109c-3c10-98f7-2dff5e2baade","instanceIdentifier":"62e69a2e-0197-1000-61bf-398df3799968","name":"GenerateFlowFile","comments":"","position":{"x":-160.0,"y":-424.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ce095c8-1a2c-3e5e-be98-6f554f0923c7"},{"identifier":"c36f1708-516d-3d2a-b0bc-1f15c25051b2","instanceIdentifier":"638a003f-0197-1000-8d7c-96fd1fc948f5","name":"PutEmail","comments":"","position":{"x":1720.0,"y":336.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"CC":null,"Reply-To":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"Average temperature over last 5 measurements: ${avgTemp} °C\n(Threshold: 3.5 °C)","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"25","SMTP Auth":"true","From":"nifi-alert@mailtrap.io","Include All Attributes In Message":"false","SMTP Hostname":"sandbox.smtp.mailtrap.io","Subject":"Weather anomaly at specified location","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/plain","SMTP Username":"79df41630aed30","To":"test@mailtrap.io","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"false"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Reply-To":{"name":"Reply-To","displayName":"Reply-To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false,"dynamic":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ce095c8-1a2c-3e5e-be98-6f554f0923c7"},{"identifier":"a8d5242e-ce1d-3e4b-9a1d-fae56abd1b97","instanceIdentifier":"637e0576-0197-1000-7532-86075ff709bf","name":"ExecuteScript","comments":"","position":{"x":1120.0,"y":-168.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.3.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.nifi.processor.io.StreamCallback\nimport java.nio.charset.StandardCharsets\nimport redis.clients.jedis.Jedis\nimport java.time.LocalDate\nimport java.time.format.DateTimeFormatter\n\ndef flowFile = session.get()\nif (!flowFile) {\n    log.error(\"No flowfile received!\")\n    return\n}\n\ndef redisHost = \"localhost\"\ndef redisPort = 6379\ndef lat = flowFile.getAttribute('lat')\ndef lon = flowFile.getAttribute('lon')\ndef deltaStr = flowFile.getAttribute('delta')\ndef delta = (deltaStr ? deltaStr.toDouble() : 3.5)\ndef tempsKey = \"temps:${lat}:${lon}\"\ndef sentKey = \"alertSent:${lat}:${lon}\"\n\nlog.info(\"==== Custom ExecuteScript START ====\")\n\ndef currentTemp = flowFile.getAttribute('currentTemp')\nlog.info(\"Current temp attribute: \" + currentTemp)\nif (!currentTemp) {\n    log.error(\"currentTemp attribute missing on flowfile! Attributes: \" + flowFile.getAttributes())\n    session.transfer(flowFile, REL_FAILURE)\n    return\n}\n\ndef jedis = new Jedis(redisHost, redisPort)\ntry {\n    log.info(\"Pushing temp \" + currentTemp + \" to Redis list \" + tempsKey)\n    // Push current temp to Redis list and trim to last 5\n    jedis.lpush(tempsKey, currentTemp)\n    jedis.ltrim(tempsKey, 0, 4)\n\n    // Get last 5 temps\n    def temps = jedis.lrange(tempsKey, 0, 4)\n    log.info(\"Last 5 temps from Redis: \" + temps)\n\n    if (temps.size() < 5) {\n        log.info(\"Not enough measurements yet (\" + temps.size() + \"). Need 5 for sliding window. No alert will be sent.\")\n        flowFile = session.putAttribute(flowFile, 'avgTemp', \"not-calculated\")\n        flowFile = session.putAttribute(flowFile, 'alert', \"false\")\n        session.transfer(flowFile, REL_SUCCESS)\n        return\n    }\n\n    def tempsDouble = temps.collect { it.toDouble() }\n    double avg = tempsDouble.sum() / tempsDouble.size()\n    log.info(\"Calculated average: \" + avg)\n\n    // Check if alert was already sent today\n    def today = LocalDate.now().format(DateTimeFormatter.ISO_DATE)\n    def lastSent = jedis.get(sentKey)\n    log.info(\"Alert last sent: \" + lastSent + \", Today: \" + today)\n\n    boolean alert = (avg >= delta) && (today != lastSent)\n    log.info(\"Should alert? \" + alert)\n\n    if (alert) {\n        // Mark alert sent for today, expire at midnight\n        log.info(\"Setting alertSent flag in Redis: \" + sentKey)\n        jedis.set(sentKey, today)\n        def tomorrow = LocalDate.now().plusDays(1).atStartOfDay().toEpochSecond(java.time.ZoneOffset.UTC)\n        jedis.expireAt(sentKey, tomorrow)\n    }\n\n    // Add useful attributes\n    flowFile = session.putAttribute(flowFile, 'avgTemp', avg.toString())\n    flowFile = session.putAttribute(flowFile, 'alert', alert.toString())\n\n    log.info(\"Added avgTemp and alert attributes to flowfile.\")\n\n    session.transfer(flowFile, REL_SUCCESS)\n} catch (Exception e) {\n    log.error(\"Failed in ExecuteScript Groovy: \" + e, e)\n    session.transfer(flowFile, REL_FAILURE)\n} finally {\n    jedis.close()\n    log.info(\"==== Custom ExecuteScript END ====\")\n}\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ce095c8-1a2c-3e5e-be98-6f554f0923c7"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"5b14b9a2-62e8-34ae-8717-3a8a0b4093d4","instanceIdentifier":"638a6692-0197-1000-8f2f-8502db4d200b","name":"","source":{"id":"1c630310-2297-340e-81dd-959441aed7db","type":"PROCESSOR","groupId":"3ce095c8-1a2c-3e5e-be98-6f554f0923c7","name":"RouteOnAttribute","comments":"","instanceIdentifier":"63889d58-0197-1000-a9d5-1fb0550aa12b"},"destination":{"id":"c36f1708-516d-3d2a-b0bc-1f15c25051b2","type":"PROCESSOR","groupId":"3ce095c8-1a2c-3e5e-be98-6f554f0923c7","name":"PutEmail","comments":"","instanceIdentifier":"638a003f-0197-1000-8d7c-96fd1fc948f5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["alerted"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ce095c8-1a2c-3e5e-be98-6f554f0923c7"},{"identifier":"a3fb00c7-2357-33dd-a7a2-a9ded3bc7f8d","instanceIdentifier":"6388e50e-0197-1000-00fb-971e917a0e88","name":"","source":{"id":"a8d5242e-ce1d-3e4b-9a1d-fae56abd1b97","type":"PROCESSOR","groupId":"3ce095c8-1a2c-3e5e-be98-6f554f0923c7","name":"ExecuteScript","comments":"","instanceIdentifier":"637e0576-0197-1000-7532-86075ff709bf"},"destination":{"id":"1c630310-2297-340e-81dd-959441aed7db","type":"PROCESSOR","groupId":"3ce095c8-1a2c-3e5e-be98-6f554f0923c7","name":"RouteOnAttribute","comments":"","instanceIdentifier":"63889d58-0197-1000-a9d5-1fb0550aa12b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ce095c8-1a2c-3e5e-be98-6f554f0923c7"},{"identifier":"580236a9-af0f-3c1f-9271-bb28e64b2f19","instanceIdentifier":"6300d6ba-0197-1000-f29b-beefeaf630c4","name":"","source":{"id":"ce3dc987-948e-3df3-873e-0beaf8fb3fae","type":"PROCESSOR","groupId":"3ce095c8-1a2c-3e5e-be98-6f554f0923c7","name":"InvokeHTTP","comments":"","instanceIdentifier":"62ec2bc4-0197-1000-090d-d03a62cbfae6"},"destination":{"id":"8d65d262-432e-34fd-a1b5-7a18dc87d9fe","type":"PROCESSOR","groupId":"3ce095c8-1a2c-3e5e-be98-6f554f0923c7","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"62fdf847-0197-1000-0264-ca71d0c603f3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ce095c8-1a2c-3e5e-be98-6f554f0923c7"},{"identifier":"327e1357-7bc5-352f-a106-8543244d6f9c","instanceIdentifier":"637fa15e-0197-1000-7502-1f903a15b7f1","name":"","source":{"id":"8d65d262-432e-34fd-a1b5-7a18dc87d9fe","type":"PROCESSOR","groupId":"3ce095c8-1a2c-3e5e-be98-6f554f0923c7","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"62fdf847-0197-1000-0264-ca71d0c603f3"},"destination":{"id":"a8d5242e-ce1d-3e4b-9a1d-fae56abd1b97","type":"PROCESSOR","groupId":"3ce095c8-1a2c-3e5e-be98-6f554f0923c7","name":"ExecuteScript","comments":"","instanceIdentifier":"637e0576-0197-1000-7532-86075ff709bf"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ce095c8-1a2c-3e5e-be98-6f554f0923c7"},{"identifier":"879e5c84-72c1-3196-93f0-15539a0f47f4","instanceIdentifier":"62efa899-0197-1000-1f6d-ea45469994bf","name":"","source":{"id":"7cd6e222-109c-3c10-98f7-2dff5e2baade","type":"PROCESSOR","groupId":"3ce095c8-1a2c-3e5e-be98-6f554f0923c7","name":"GenerateFlowFile","comments":"","instanceIdentifier":"62e69a2e-0197-1000-61bf-398df3799968"},"destination":{"id":"ce3dc987-948e-3df3-873e-0beaf8fb3fae","type":"PROCESSOR","groupId":"3ce095c8-1a2c-3e5e-be98-6f554f0923c7","name":"InvokeHTTP","comments":"","instanceIdentifier":"62ec2bc4-0197-1000-090d-d03a62cbfae6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ce095c8-1a2c-3e5e-be98-6f554f0923c7"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"WeatherParams","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"WeatherParams":{"name":"WeatherParams","parameters":[{"name":"redisHost","description":"","sensitive":false,"provided":false,"value":"localhost"},{"name":"delta","description":"","sensitive":false,"provided":false,"value":"3.5"},{"name":"lon","description":"","sensitive":false,"provided":false,"value":"23.32"},{"name":"redisPort","description":"","sensitive":false,"provided":false,"value":"6379"},{"name":"lat","description":"","sensitive":false,"provided":false,"value":"42.70"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}